/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 90.7%;
}

.span_9_of_11 {
	width: 81.47%;
}

.span_8_of_11 {
	width: 72.24%;
}

.span_7_of_11 {
	width: 63.01%; 
}

.span_6_of_11 {
	width: 53.78%; 
}

.span_5_of_11 {
	width: 44.55%; 
}

.span_4_of_11 {
	width: 35.32%; 
}

.span_3_of_11 {
	width: 26.09%;
}

.span_2_of_11 {
	width: 16.86%; 
}

.span_1_of_11 {
	width: 7.63%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_11_of_11,
	.span_10_of_11,
	.span_9_of_11,
	.span_8_of_11,
	.span_7_of_11,
	.span_6_of_11,
	.span_5_of_11,
	.span_4_of_11,
	.span_3_of_11,
	.span_2_of_11,
	.span_1_of_11 {
		width: 100%; 
	}
}
